/* line 6, ../sass/style.scss */
.hero {
  max-width: 100em;
  margin: 0 auto;
}
/* line 11, ../sass/style.scss */
.hero header img {
  width: 8em;
  height: 2em;
  float: left;
}
/* line 16, ../sass/style.scss */
.hero header ul {
  float: right;
}
/* line 19, ../sass/style.scss */
.hero header ul li {
  float: left;
  margin: 0 .5em;
  padding: 1em;
}
/* line 28, ../sass/style.scss */
.hero h1 {
  font-size: 4em;
  padding: 1em 0 .5em 0;
}
/* line 33, ../sass/style.scss */
.hero h2 {
  font-size: 2em;
}
